<p>
  delivery-board works!
  <p-button label="Click"></p-button>


</p>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <p-card title="新建订单" subtitle="此区域用于下单" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/showcase/images/usercard.png">
      </p-header>
      点击下方蓝色按钮下单
      <p-footer>
        <button pButton type="button" (click)="count()" label="Primary"></button>
      </p-footer>
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <p-card>
      Content
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <p-card>
      Content
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <p-card>
      Content
    </p-card>
  </div>
</div>
