<p>
  delivery-new-order works!
</p>
<!--<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">-->
<form (ngSubmit)="onSubmit()">
  <p-panel>
    <p-header>
      金兆宏食品发货流程单
    </p-header>
    <p-fieldset legend="订单信息">
      <b>电话号码：*</b>
      <b>配送方式：*</b>
      <p>收货人：*</p>
      <p>收货人ID：*</p>
      <p>收货地址：*</p>
      <p-checkbox [(ngModel)]="isPayerNeeded" binary="true" label="是否需要填写付款人信息"
                  [ngModelOptions]="{standalone: true}"></p-checkbox>
      <div *ngIf="isPayerNeeded">
        <p>付款人：*</p>
        <p>付款人电话：*</p>
      </div>

      <hr>
      <div>
        <b>接单人：</b>
        <!--<p-dropdown [options]="cars" [(ngModel)]="selectedCar"  editable="true" placeholder="Select a Brand"></p-dropdown>-->
        <p-dropdown editable="true" placeholder="Select a Brand"></p-dropdown>
      </div>
      <div>
        <b>接单时间：*</b>
        <!--<p-calendar [(ngModel)]="date7" [showTime]="true"></p-calendar>-->
        <p-calendar [showTime]="true"></p-calendar>
      </div>
    </p-fieldset>
    <p-fieldset legend="订货清单">
      <p-dataTable [(value)]="orderItems">
        <p-column field="name" header="产品">
          <ng-template pTemplate="body">
            <p-dropdown placeholder="Select" [style]="{'width':'4em'}"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="specification" header="规格">
          <ng-template pTemplate="body">
            <p-dropdown placeholder="Select" [style]="{'width':'4em'}"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="quantity" header="数量">
          <ng-template pTemplate="body">
            <!--<p-spinner size="30" [(ngModel)]="val2" [min]="0" [max]="100"></p-spinner>-->
            <p-spinner size="2" [min]="0" [max]="100"></p-spinner>
          </ng-template>
        </p-column>
        <p-column header="操作"  [style]="{'width':'3.1em'}">
          <ng-template pTemplate="body">
            <button pButton type="button" icon="fa fa-fw fa-minus" class="ui-button-danger" style="height: 1.2em"></button>
            <button pButton type="button" (click)="addOrderItem()" icon="fa fa-fw fa-plus" class="ui-button-success" style="height: 1.2em"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-fieldset>
    <p-footer>
      <button pButton type="submit" label="Submit"></button>
    </p-footer>
  </p-panel>
</form>
